<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <title th:text="'Přidejte klub pro ligu ' + ${league.getTitle()}"></title>
  </head>
  <body>
    <h1 th:text="'Přidejte klub pro ligu ' + ${league.getTitle()}"></h1>
    <form
      action="#"
      th:action="@{/club/addClub}"
      method="post"
      th:object="${Club}"
    >
      <input type="hidden" name="leagueId" th:value="${league.getId()}" />
      <label for="title">Název klbu:</label>
      <input type="text" name="title" id="title" th:field="*{title}" />
      <label for="city">Město klbu:</label>
      <input type="text" name="city" id="city" th:field="*{city}" />
      <input type="submit" value="Přidat" />
    </form>
  </body>
</html>
